<div class="clientform">
  <section ng-if="clientCtrl.client">
    <h3 class="text-center">My Info</h3>
    <p>First Name: {{clientCtrl.client.firstname}}</p>
    <p>Last Name: {{clientCtrl.client.lastname}}</p>
    <p>Email address: {{clientCtrl.client.email}}</p>
    <p>Phone number: {{clientCtrl.client.phone}}</p>
    <p>Favorite dish: {{clientCtrl.client.fav}}</p>
    <br>
    <p>Title: {{clientCtrl.client.favDish.name}}</p>
    <img ng-src="{{clientCtrl.basePath}}/images/{{clientCtrl.client.fav}}.jpg" alt="{{clientCtrl.client.fav}}">
    <p>Description: {{clientCtrl.client.favDish.description}}</p>
  </section>
  <section ng-if="!clientCtrl.client">
    <h3>Not Signed Up Yet. <a ui-sref="public.clientform">Sign up Now!</a></h3>
  </section>
</div>
